header {
  background-color: #faf7fe;
  width: 50%;
  padding: 10px 15px;
  background-image: linear-gradient(to right, #b0adda, #f3e0e2);
  border-radius: 80px;
  display: block;
  margin: 40px auto;
  margin-bottom: 0;
  box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  color: white;
  font-size: 60px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

footer {
  text-align: center;
  color: #b1aeda;
}

.container {
  font-family: "Open Sans", sans-serif;
}
.box2 {
  background-color: #faf7fe;
  width: 50%;
  padding: 20px 15px 50px;
  border-radius: 10px;
  display: block;
  margin: 10px auto;
  box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.2);
}

.itens {
  display: flex;
}

.select1 {
  background-color: linear-gradient(to right, #b0adda, #f3e0e2);
  width: 95%;
  padding: 5px 5px 5px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.selectCity {
  color: white;
  margin-right: 10px;
}

.cities {
  width: 100%;
  text-align: left;
  background-color: #cdc3dd;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  padding: 20px 20px;
  color: white;
}

.selector {
  color: white;
}

.box3 {
  background-color: black;
  width: 95%;
  padding: 15px;
  background-image: linear-gradient(to right, #b0adda, #f3e0e2);
  border-radius: 15px;
  margin: 20px 5px;
}

.city {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-child {
  border: none;
}

.city-info {
  display: flex;
  flex-direction: column;
}

.date {
  opacity: 0.7;
  margin-top: -10px;
}

.time {
  font-size: 48px;
  font-weight: bold;
  text-align: right;
}

.updateButton {
  background-color: #b3afdb;
  color: white;
  border: none;
  font-size: 15px;
  padding: 20px;
  border-radius: 25px;
  display: block;
  margin: 50px auto;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.updateButton:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.link {
  text-decoration: none;
}
