header {
  background-color: #faf7fe;
  width: 50%;
  padding: 10px 15px;
  background-image: linear-gradient(to right, #b0adda, #f3e0e2);
  border-radius: 80px;
  display: block;
  margin: 40px auto;
  margin-bottom: 0;
  box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  color: white;
  font-size: 60px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

footer {
  text-align: center;
  color: #b1aeda;
}

.box2 {
  background-color: #faf7fe;
  width: 50%;
  padding: 20px 15px 50px;
  border-radius: 10px;
  display: block;
  margin: 10px auto;
  box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.2);
}

.itens {
  display: flex;
}

.select1 {
  background-color: linear-gradient(to right, #b0adda, #f3e0e2);
  width: 100%;
  padding: 5px 5px 5px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.selectCity {
  color: white;
  margin-right: 10px;
}

.cities {
  width: 100%;
  text-align: left;
  background-color: #cdc3dd;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  padding: 15px 20px;
  color: white;
}

.selector {
  color: white;
}
.box3 {
  background-color: #f1dee2;
  width: 95%;
  padding: 15px;
  background-image: linear-gradient(to right, #b0adda, #f3e0e2);
  border-radius: 15px;
  margin: 20px 5px;
}

.cityNames {
  display: flex;
  justify-content: space-between;
}
.cityName,
.cityHour {
  margin: 5px 100px;
  color: white;
}

.cityName {
  margin-left: -150px;
  font-size: 40px;
  padding-bottom: -40px;
}

.cityHour {
  margin-right: -150px;
  font-size: 40px;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.amPm {
  font-size: 20px;
}

.cityDate {
  margin-left: 3px;
  margin-top: -10px;
  color: white;
}

.link {
  text-decoration: none;
}
